sensor/ansible/vars/co2-monitor.yml
backend/ansible/vars/co2-monitor-backend.yml
backend/ansible/vars/co2-monitor-mysql.yml
backend/data/co2monitor.yml

build/
out/
captures/
__pycache__/

.idea/
.gradle/
.navigation/

*.iml
.DS_Store
inventory

local.properties