[Unit]
Description=co2-monitor-service app
After=network.target

[Service]
ExecStart=/usr/bin/python2 {{ home_path }}/monitor.py /dev/co2mini0
WorkingDirectory={{ home_path }}
StandardOutput=syslog
StandardError=syslog
Restart=always
User=pi

[Install]
WantedBy=multi-user.target