[Unit]
Description=co2-monitor-backend service
After=network.target

[Service]
ExecStart=/usr/bin/java -jar {{ home_path }}/app/backend-shadow-{{ version }}/lib/backend-{{ version }}-all.jar -Xmx206m -Xms156m
WorkingDirectory={{ home_path }}
StandardOutput=syslog
StandardError=syslog
Restart=always
User=pi

[Install]
WantedBy=multi-user.target